.hide-when-mobile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.hide-when-mobile i.fa-moon,i.fa-sun{
  position: fixed;
  top:10px;
  right:15px;
  font-size: 20px;
}


  .amr {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    font-size: 16px;
    top: 10pxpx;
    left: 15px; 
    text-align: center 
        
}

.hidenContent{
  font-size: 12px !important;
}   

.fa-solid.fa-heart{
font-size: 12px;
}


.main-link {
  padding: 0px 15px;
  font-size: 15px;
}

.delete{
font-size: 0.8rem;
}


