/* 
!foegt passowrd form style
Scale : 0 --> disappear element  scale : 1 element as it is 
 */
.forget-form {
  background-color: #0a4962;
  position: fixed;
  height: 400px;
  scale: 0;
  transition: 2s;
  transform: translateY(-100vh);
}


.forget-form p.forget {
  color: #e27580
}


.Active-forget-password {
  scale: 1;
  transform: translateY(0)
}

.fa-xmark {
  color: #dc3545;
  position: absolute;
  top: 21px;
  right: 29px;
  font-size: 30px;

}



.fa-xmark:hover {
  transform: rotate(360deg);
  transition: 2s;
  cursor: pointer;
  }






/* sign in forget password paragraph */

.forget {
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: .2px;
}

.forget:hover {
  cursor: pointer;
}