/*  sign in form  */
#signInForm {
  background-color: #edbd5d91;
  height: 300px;
}

#signInForm:hover {
  background-color: #ec9f049b;
}

#signInForm p {
  color: black !;
  font-size: 16px;
}

/* sign in forget password paragraph */
.forget {
  font-size: 12px !important;
  font-weight: bolder;
  letter-spacing: .2px;
}

.forget:hover {
  cursor: pointer;
}


