/* ==============================
 Header
=============================== */
.myheader .ali{
  background-color: rgb(36, 44, 58) ;
  height: 75px;
}

.amr{
  font-family: 'FontAwesome'

}

.hide-when-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center
}

.logo{
  transition: 1s;
}

.logo:hover{
  transform: scale(1.1);
}

/* ==============================
  Main link in Header
=============================== */

.main-list {
  padding: 20px;
  font-size: 19px;
  position: relative;
}

.main-link {
  padding: 8px 15px;
}

.main-link:hover,  .main-link.active{
  color: rgb(223, 165, 39);
  box-shadow: 0 0 5px rgb(223, 165, 39);
  border-radius: 5px;
}




/* ==============================
     Animation for Header
=============================== */
@keyframes down {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

header {
  animation: down 1s 1;
}











