main{
  color: #1b1b1b ;

  height: calc(100vh - 137px);

  font-size: 30px;
  font-weight: bold;
  line-height: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  text-align: center;

  /* background-image:url("../images/main-background.png"); */
}




.Dark main{
  
  color:aliceblue
}

h2 p {
  color: black;
}

.Dark h2 p {
  color:aliceblue
}

