body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  color: rgb(241, 239, 239);
  font-family: sans-serif;

  text-decoration: none;
  list-style: none;

  letter-spacing: 1px;
  /* overflow: hidden; */
}

html {
  box-sizing: border-box;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  background-color: #1b1b1b;
}

h1 {
  padding: 20px;
  font-size: 25px;
}


/* ! Very importat rule  */
.flex {
  display: flex;
  justify-content: center;
}


.mt{
  margin-bottom: 1rem;
}

.mtt{
  margin-bottom:2rem ;
}

.mttt{
  margin-bottom: 3rem;
}





/* span {
  animation: heart 2s infinite linear;
}

@keyframes heart {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
} */



/* Main section styles */
main{
  color: #1b1b1b ;
  min-height: calc(100vh - 137px);
  font-size: 30px;
  font-weight: bold;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   text-align: center;
   background: url(../images/pexels-content-pixie-2736499.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.Dark main{
  
  color:aliceblue
}

h2 p {
  color: black;
}

.Dark h2 p {
  color:aliceblue
}









.delete{
  margin-top: 25px;
  background-color:  #dc3545;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  }


  .fa-heart{
    color: #dc3545;
    transition: 4s;
  }


 .fa-arrow-right-to-bracket{
    color: #0482f8 !important;
  }


  
  .fa-user-plus{
color: #0482f8 !important;
margin-left: 5px;
  }