
.myheader ul{

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }



.Dark {
  background-color: #1d2125;
}


.Light h2 , h3 {
  color: #1d2125;
}

.Dark h3 {
  color: #f6f8fa;
}

.theme-btn {
  outline: 0;
  border-radius: 1rem;
  padding: .3rem .5rem;
  color: #fff;
  /* background-color: #3d4a59; */
  background-color: transparent;
  border: 1.5px solid #ddd;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all .3s;
}

.theme-btn:hover {
  box-shadow: 0 0 10px #9e4673, 0 0 40px #9e4673, 0 0 80px #9e4673;
  background: #9e4673;
  border: none;
  outline: 0;
}

.theme-btn:focus {
  padding: 4px 12px;
  box-shadow: 0 0 10px #9e4673, 0 0 40px #9e4673, 0 0 80px #9e4673;
  box-shadow: 0 0 0 5px #3d4a59, 0 0 0 6px #fff;
}


/*
Dark Mood Icons  Sun & Moon
*/


  .fa-solid {
    font-size: 27px;
    padding: 3px;
}




.fa-sun {
  color: #f88604;
}

.Light .fa-sun {
  display: none;

}

.Dark .fa-moon {
  display: none;
}





#signInForm {
  display: flex;
  color: #1d2125;

}





main Form {
  display: flex;
  color: #1d2125;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: start;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: #0e7c9259;
  border-radius: 15px;

}
main input {
  padding: 10px;
  margin: 5px 0;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  color: #1d2125;
}



Form button {
  padding: 10px 15px;

  background-color: #0080ff59;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 0;

}


 button.active {
  box-shadow: 0 0 5px #0080ff59;
  color:cyan;
  
}

 button:hover {
  color:rgb(255, 255, 255);
    background-color: rgb(102, 102, 226);
}

form p {
  color: #3d4a59;
}

.Dark form p {
  color:#ddd
}

.account{
  font-size: 14px;
}

.account a{
  color: #f8f404;
}

.register{
  color: #04f84d;
  font-size: 14px;
}

.error{
  font-size: 16px;
  color :red;
}

.Light .register{
  color: #f88604;

}


.hidenContent{
  font-size: 21px;
  color: #3d4a59;
}

.Dark .hidenContent{
  color: #ffffff;
}


.hidenContent a{
  color: rgb(226, 43, 89);
  border-bottom: 3px solid rgb(226, 43, 122);
  padding-bottom: 5px;
}


main .profile-info{
  font-size: 18px;
  color:black;
  background-color: #51f804;
  width: 700px;
  
}


main h2{
color: #1d2125;
}









